@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@400;700&display=swap");

.error {
  border: #45161c 2px solid;
}

.errorMessage {
  color: #45161c;
}

.activeFilter {
  background-color: aquamarine;
}

.isDone {
  opacity: 0.5;
}
