@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@400;700&display=swap");
.App {
  font-family: "Gentium Book Plus", serif;
}

/* .App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
} */

.isDone {
  text-decoration: line-through;
  color: #555;
}
.task {
  font-weight: bold;
}

/* .active {
  background-color: darksalmon;
  color: white;
  font-weight: bold;
} */

/* .error {
  border: 2px solid red;
  outline: none;
} */
