@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@400;700&display=swap");

.error {
  border: red 2px solid;
}

.errorMessage {
  color: red;
}

.activeFilter {
  background-color: aquamarine;
}

.isDone {
  opacity: 0.5;
}
